*{
    
}

.calculator {
    width: 350px;
    margin: 10vh auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #1c1c1c;
  }
  
.display {
    width: calc(100% - 20px);
    height: 10vh;
    margin-bottom: 3vh;
    padding: 5px;
    font-size: 5vh;
    text-align: right;
    color: #1c1c1c;
  }
  
.buttons {
    display: flex;
    flex-wrap: wrap;
  }

button.number {
  background-color: #505050;
  color: white;
}

button#zero {
  flex: 0 0 calc(50% - 10px);
    margin: 5px;
    padding: 10px;
    font-size: 4vh;
}

button.operator{
  background-color:#ff9500;
  color: #d4d4d2;
}

button.equals{
  background-color: #ff9500;
  color: #d4d4d2;
}

button.decimal{
  background-color: #505050;
  color: #d4d4d2;
}

button {
    flex: 0 0 calc(25% - 10px);
    margin: 5px;
    padding: 10px;
    font-size: 4vh;
    color: #1c1c1c;
    border: none;
    border-radius: 2px;
  }


button:hover {
    background-color: #727272;
  }
  
