*{
  margin: 0;    
}


body{
  background-color: #dfdfdf;
  height: 100vh;
  
}

#container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  
}
#header{
    display: flex;
    background-color: #1c1c1c;
    justify-content: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
h1{
  font-family: 'Nunito', sans-serif;
  color: white;
  font-size: 6vh;
  
}

.calculator {
    width: 350px;
    margin: 10vh auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #1c1c1c;
  }
  
.display {
    width: calc(100% - 17px);
    height: 10vh;
    margin-bottom: 3vh;
    padding: 5px;
    font-size: 5vh;
    text-align: right;
    color: #1c1c1c;
    font-family: 'Nunito', sans-serif;
  }
  
.buttons {
    display: flex;
    flex-wrap: wrap;
  }

button.number {
  background-color: #505050;
  color: white;
}

button#zero {
  flex: 0 0 calc(50% - 10px);
    margin: 5px;
    padding: 10px;
    font-size: 4vh;
}

button.operator{
  background-color:#ff9500;
  color: #d4d4d2;
}

button.operator.modulo{
  background-color:white;
  color:#1c1c1c;
}

button.equals{
  background-color: #ff9500;
  color: #d4d4d2;
}

button.decimal{
  background-color: #505050;
  color: #d4d4d2;
}

button {
    flex: 0 0 calc(25% - 10px);
    margin: 5px;
    padding: 10px;
    font-size: 4vh;
    color: #1c1c1c;
    border: none;
    border-radius: 2px;
  }


button.number:hover {
    background-color: #727272;
  }
button.extra:hover {
    background-color: #929292;
  }
button#modulo:hover{
  background-color: #929292 ;
  }
button.operator:hover, button.equals:hover {
    background-color: #c47200;
  }

.thirdlayer {
    display: flex;
    justify-content: center; 
    padding: 20px 150px;
    gap: 100px;
    background-color: #2e2e2e;
    font-family: 'Nunito', sans-serif;
    flex-grow: 1; 
}

.firstcolumn,
.secondcolumn,
.thirdcolumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center; 
    text-align: center;
    justify-content: space-between;
}

.thirdcolumn img {
    width: 120px;
    transition: transform ease 300ms;
}

.thirdcolumn img:hover {
    transform: translate(0, -10px) scale(1.1); 
}

.thirdcolumn a {
    text-decoration: none;
}

.gplay img {
    width: 135px;
}

a {
    text-decoration: none;
    color: #dfdfdf;
}

.headerflfc,
.headerflsc,
.headerfltc {
    font-weight: bolder;
    color: #dfdfdf;
    text-align: center;
}



  #footer{
    font-family: 'Nunito', sans-serif;
    font-size: 2vh;
    background-color: #1c1c1c;
    text-align: center;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    font-weight: bold;
    color: white;
    margin-top: auto;
    
}

@media only screen and (max-width: 480px) {
  .thirdlayer{
    display: flex;
    flex-direction: column;
    gap: 5vh;
  }

  .firstcolumn,
  .secondcolumn,
  .thirdcolumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center; 
    text-align: center;
    justify-content: space-between;
}

}
  
