*{
  margin: 0;
  border: solid 1px rgb(230, 35, 35);
    
}


body{
  background-color: #dfdfdf;
  height: 100vh;
  
}

#container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  
}
#header{
    display: flex;
    background-color: #1c1c1c;
    justify-content: center;
}
h1{
  font-family: 'Nunito', sans-serif;
  color: white;
  font-size: 6vh;
  padding-left: 2vh;
}

.calculator {
    width: 350px;
    margin: 10vh auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #1c1c1c;
  }
  
.display {
    width: calc(100% - 12px);
    height: 10vh;
    margin-bottom: 3vh;
    padding: 5px;
    font-size: 5vh;
    text-align: right;
    color: #1c1c1c;
  }
  
.buttons {
    display: flex;
    flex-wrap: wrap;
  }

button.number {
  background-color: #505050;
  color: white;
}

button#zero {
  flex: 0 0 calc(50% - 10px);
    margin: 5px;
    padding: 10px;
    font-size: 4vh;
}

button.operator{
  background-color:#ff9500;
  color: #d4d4d2;
}

button.operator.modulo{
  background-color:white;
  color:#1c1c1c;
}

button.equals{
  background-color: #ff9500;
  color: #d4d4d2;
}

button.decimal{
  background-color: #505050;
  color: #d4d4d2;
}

button {
    flex: 0 0 calc(25% - 10px);
    margin: 5px;
    padding: 10px;
    font-size: 4vh;
    color: #1c1c1c;
    border: none;
    border-radius: 2px;
  }


button.number:hover {
    background-color: #727272;
  }
button.extra:hover {
    background-color: #929292;
  }
button#modulo:hover{
  background-color: #929292 ;
  }
button.operator:hover, button.equals:hover {
    background-color: #c47200;
  }

  .fifthlayer{
    display: flex;  
    justify-content: center;
    padding: 20px 150px;
    gap: 100px;
    background-color:#505050;
    font-family: 'Nunito', sans-serif;
    
    
}
.firstcolumn{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
.secondcolumn{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
.thirdcolumn{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    align-items: center;
    justify-content: center;
}

.thirdcolumn img{
    width: 120px;
    transition: transform ease 300ms;
    
}
.thirdcolumn img:hover {
    transform: translate(0, -10px);
    transform: scale(1.1);}

.thirdcolumn a{
    text-decoration: none;
}
.gplay img{
    width: 135px;
}

a{
    text-decoration: none;
    color: black;
}

.headerflfc{
    font-weight: bold;
    color: black;
  }

.headerflsc{
    font-weight: bold;
    color: black;
  }

.headerfltc{
    font-weight: bold;
    color: black;
  }


  #footer{
    font-family: 'Nunito', sans-serif;
    font-size: 2vh;
    background-color: #1c1c1c;
    text-align: center;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    font-weight: bold;
    color: white;
    margin-top: auto;
    
}
  
